.idea/
__*
*.zip
inputs/mml2lp.xml.test
text/
temp/
test_lp/
lp/
lp.old/
outputs/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
esx_errors.txt
bledy.txt
.DS_Store
xboole_0/
